html {
    
    height: 100%;
}

body {
    background-attachment: fixed;
    line-height: 1;
    height: 100%;
    background-position: center center; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;             
    -moz-background-size: cover;             
    -o-background-size: cover;             
    background-size: cover;
}
#wrapper #content {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 440px;
}
.row_content .row_fix_width{
   padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
.fix_width, .row_content .col {
    width: 100%;
}