#content  {
  max-width: 420px;
}
#wrapper #content  {
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}
.row_content .row {

  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
}
.row_content .row_fix_width {
    width: 100%;
    padding-left: 40px;
  padding-right: 40px;
} 

.fix_width {
    width: 100%;
}
