.add_type_member_download span { background: url(../images/elements/download.png) no-repeat 0 0; }
.add_type_member_subpages span { background: url(../images/elements/pages.png) no-repeat 0 0; }
.add_type_member_login span { background: url(../images/elements/login.png) no-repeat 0 0; }
.add_type_member_regform span { background: url(../images/elements/regform.png) no-repeat 0 0; }
.add_type_member_checklist span { background: url(../images/elements/checklist.png) no-repeat 0 0; }
.add_type_member_users span { background: url(../images/elements/members.png) no-repeat 0 0; }