/* Template_select
******************************************************************************* */
#tempate-cat-list li {
  float: left;
  margin-bottom: 0;
}
#tempate-cat-list li a {
  float: left;
  display: block;
  width: 100px;
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  background: #efefef;
  margin-left: -1px;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
  color: #747474;
  text-decoration: none;
  position: relative;
}
#tempate-cat-list li a .icon {
  height: 43px;
  margin: 0 auto 10px;
  display: block;
  width: 32px;
  background: url(../images/page_cats/default.png) no-repeat;
}
#tempate-cat-list .template-cat-page a .icon {
  background: url(../images/page_cats/page.png) no-repeat;
}
#tempate-cat-list .template-cat-squeeze a .icon {
  background: url(../images/page_cats/squeeze.png) no-repeat;
}
#tempate-cat-list .template-cat-campaign a .icon {
  background: url(../images/page_cats/video.png) no-repeat;
}
#tempate-cat-list .template-cat-landing a .icon {
  background: url(../images/page_cats/landing.png) no-repeat;
}
#tempate-cat-list .template-cat-member a .icon {
  background: url(../images/page_cats/member.png) no-repeat;
}
#tempate-cat-list .template-cat-webinar a .icon {
  background: url(../images/page_cats/webinar.png) no-repeat;
}
#tempate-cat-list .template-cat-others a .icon {
  background: url(../images/page_cats/others.png) no-repeat;
}
#tempate-cat-list .template-cat-sale a .icon {
  background: url(../images/page_cats/sale.png) no-repeat;
}
#tempate-cat-list .template-cat-content a .icon {
  background: url(../images/page_cats/content.png) no-repeat;
}
#tempate-cat-list .template-cat-thx a .icon {
  background: url(../images/page_cats/thx.png) no-repeat;
}
#tempate-cat-list .template-cat-import a .icon {
  background: url(../images/page_cats/import.png) no-repeat;
}
#tempate-cat-list li a.ve_template_cat_active span {
  background: url(../images/sc-arr.gif) no-repeat;
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 40px;
  display: block;   
  z-index: 99;     
}
#tempate-cat-list li a:hover, #tempate-cat-list li a.ve_template_cat_active{
  border-color: #219ed1;
  background: #219ed1;
  color: #fff;
}
#tempate-cat-list li a:hover .icon, #tempate-cat-list li a.ve_template_cat_active .icon{
  background-position: 0 -43px;
}

.ve_template_category_title {
  display: block;
  padding: 24px 12px 30px;
  font-size: 18px;
  font-weight: normal;
}

.ve_template_selbox {
  display: none;
  border: 1px solid #dfdfdf;
  padding: 16px 8px 0 8px; 
}
.ve_template_selbox_active {
  display: block;
}

.ve_template_box {
  width: 350px;
  min-height: 330px;
  float: left;
  margin: 0 12px 24px;
  position: relative;
  cursor: pointer;
  border: 1px solid #eee;
}
#ve_template_selbox_mw_sliders .ve_template_box {
  min-height: auto;
}
.ve_template_box:hover {
  background: #f9f9f9;
}
.ve_template_box input {
  display: none;
}
.ve_template_box span {
  position: absolute;
  top: 0;
  right:0;
  width: 40px;
  height: 40px;
  background: #efefef url(../images/template_sel.png) no-repeat;
  display:none;
}
.ve_template_box:hover span {
  display: block;
}
.ve_template_box_select {
  background-color: #219ed1;
  color: #d6eaf2;
}
.ve_template_box_select:hover,.ve_template_box_select:hover span {
  background-color: #219ed1;
}
.ve_template_box_select span {
  background-position: 0 -40px;
  background-color: #219ed1; 
  display: block; 
}

.cms_lightbox .ve_template_box h2 {
  font-size: 15px;
  padding: 10px 15px 8px;
  font-weight: bold;
  margin: 0;
}
.cms_lightbox .ve_template_box_select h2{
  color: #fff;
}
.ve_template_box p {
  padding: 0 15px 18px;
  font-size: 13px;
  line-height: 18px;
}
.ve_template_empty_dir {
  color: #999;
  padding: 30px 20px 40px;
}

.ve_template_import_container {
  padding: 0 12px 30px;
}
.ve_template_import_container .cms_info_box {
  margin-bottom: 30px;
}

/* connection form - fapi */
.cms_connection_form {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px 10px 25px 10px;
}
.cms_connection_form .cms_error_box {
  margin-bottom: 25px;
}
.cms_connection_form_in {
  text-align: center;
}
.cms_connection_form_in .cms_cf_text {
  background: #fff;
  border: 1px solid #ddd;
  width: 20%;
  padding: 12px;
}
.cms_connection_form_in button.cms_button {
  height: 40px;
}

.ve_item_multipageselect {
padding-bottom: 8px;
}

.cms_setting_block_content .ve_inside_setting_table {
  border: 1px solid #ddd;
  background: #f9f9f9;
}
.cms_setting_block_content .ve_inside_setting_table td,
.cms_setting_block_content .ve_inside_setting_table th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.cms_setting_block_content .ve_inside_setting_table .odd td {
  background: #fdfdfd;
}
.cms_setting_block_content .ve_inside_setting_table th {
  background: #f3f3f3;
}
.ve_delete_select {
  display: block;
  float: left;
  margin: 12px 10px 0 0;
  width: 13px;
  height: 13px;
  background: url(../images/del.png) no-repeat;
}
#ve_reset_page_statistics {
  margin-top: 10px;
}

/* Add row, element */

.add_type {
  background: #efefef;
  width: 90px;
  float: left;
  padding: 20px 5px 0;
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin-left: 15px;
  margin-bottom: 15px;
  min-height: 90px;
  line-height: 1em;
}
.add_type span { 
   display: block;
   margin: 0 auto;
   height: 54px; 
   width: 63px;
   margin-bottom: 10px;
   background: url(../images/elements/default.png) no-repeat 0 0;
}
.add_type_basic0 span { background: url(../images/rows/row1.png) no-repeat 0 0; }
.add_type_basic1 span { background: url(../images/rows/row2.png) no-repeat 0 0; }
.add_type_basic2 span { background: url(../images/rows/row3.png) no-repeat 0 0; }
.add_type_basic3 span { background: url(../images/rows/row4.png) no-repeat 0 0; }
.add_type_basic4 span { background: url(../images/rows/row5.png) no-repeat 0 0; }

.add_type_basic6 span { background: url(../images/rows/row_c1.png) no-repeat 0 0; }
.add_type_basic7 span { background: url(../images/rows/row_c2.png) no-repeat 0 0; }
.add_type_basic8 span { background: url(../images/rows/row_c3.png) no-repeat 0 0; }
.add_type_basic9 span { background: url(../images/rows/row_c4.png) no-repeat 0 0; }
.add_type_basic10 span { background: url(../images/rows/row_c5.png) no-repeat 0 0; }
.add_type_basic11 span { background: url(../images/rows/row_c6.png) no-repeat 0 0; }
.add_type_basic12 span { background: url(../images/rows/row_c7.png) no-repeat 0 0; }
.add_type_basic13 span { background: url(../images/rows/row_c8.png) no-repeat 0 0; }
.add_type_basic14 span { background: url(../images/rows/row_c9.png) no-repeat 0 0; }
.add_type_basic15 span { background: url(../images/rows/row_c10.png) no-repeat 0 0; }
.add_type_basic16 span { background: url(../images/rows/row_c11.png) no-repeat 0 0; }
.add_type_basic17 span { background: url(../images/rows/row_c12.png) no-repeat 0 0; }
.add_type_basic18 span { background: url(../images/rows/row_c13.png) no-repeat 0 0; }
.add_type_basic19 span { background: url(../images/rows/row_c16.png) no-repeat 0 0; }
.add_type_basic20 span { background: url(../images/rows/row_c14.png) no-repeat 0 0; }
.add_type_basic21 span { background: url(../images/rows/row_c15.png) no-repeat 0 0; }

.add_type_text span { background: url(../images/elements/text.png) no-repeat 0 0; }
.add_type_button span { background: url(../images/elements/button.png) no-repeat 0 0; }
.add_type_video span, .add_type_mwvideo span { background: url(../images/elements/video.png) no-repeat 0 0; }
.add_type_title span { background: url(../images/elements/title.png) no-repeat 0 0; }
.add_type_html span { background: url(../images/elements/html.png) no-repeat 0 0; }
.add_type_graphic span { background: url(../images/elements/graphic.png) no-repeat 0 0; }
.add_type_image span { background: url(../images/elements/images.png) no-repeat 0 0; }
.add_type_image_gallery span { background: url(../images/elements/image_gallery.png) no-repeat 0 0; }
.add_type_like span { background: url(../images/elements/like.png) no-repeat 0 0; }
.add_type_wpcomments span, .add_type_fcomments span { background: url(../images/elements/comments.png) no-repeat 0 0; }
.add_type_likebox span { background: url(../images/elements/likebox.png) no-repeat 0 0; }
.add_type_form span { background: url(../images/elements/form.png) no-repeat 0 0; }
.add_type_seform span { background: url(../images/elements/form.png) no-repeat 0 0; }
.add_type_menu span { background: url(../images/elements/menu.png) no-repeat 0 0; }
.add_type_twocols span { background: url(../images/elements/twocols.png) no-repeat 0 0; }
.add_type_countdown span { background: url(../images/elements/countdown.png) no-repeat 0 0; }
.add_type_testimonials span { background: url(../images/elements/testimonials.png) no-repeat 0 0; }
.add_type_mioweb_nav span { background: url(../images/elements/menu.png) no-repeat 0 0; }
.add_type_se_count span { background: url(../images/elements/se_count.png) no-repeat 0 0; }
.add_type_bullets span { background: url(../images/elements/bullets.png) no-repeat 0 0; }
.add_type_classic_bullets span { background: url(../images/elements/bullets.png) no-repeat 0 0; }
.add_type_fapi span { background: url(../images/elements/fapi.png) no-repeat 0 0; }
.add_type_share span { background: url(../images/elements/share.png) no-repeat 0 0; }
.add_type_recent_posts span { background: url(../images/elements/recent_posts.png) no-repeat 0 0; }
.add_type_image_text span { background: url(../images/elements/image_text.png) no-repeat 0 0; }
.add_type_features span { background: url(../images/elements/feature.png) no-repeat 0 0; }
.add_type_box span { background: url(../images/elements/box.png) no-repeat 0 0; }
.add_type_contactform span { background: url(../images/elements/contactform.png) no-repeat 0 0; }
.add_type_peoples span { background: url(../images/elements/peoples.png) no-repeat 0 0; }
.add_type_pricelist span { background: url(../images/elements/pricelist.png) no-repeat 0 0; }
.add_type_numbers span { background: url(../images/elements/numbers.png) no-repeat 0 0; }
.add_type_fac_share span { background: url(../images/elements/fac_share.png) no-repeat 0 0; }
.add_type_faq span { background: url(../images/elements/faq.png) no-repeat 0 0; }
.add_type_member_news span { background: url(../images/elements/member_news.png) no-repeat 0 0; }
.add_type_progressbar span { background: url(../images/elements/progressbar.png) no-repeat 0 0; }
.add_type_member_progress span { background: url(../images/elements/progressbar.png) no-repeat 0 0; }
.add_type_link span { background: url(../images/elements/link.png) no-repeat 0 0; }
.add_type_popup span { background: url(../images/elements/popup.png) no-repeat 0 0; }
.add_type_variable_content span, .add_type_content span { background: url(../images/elements/variable.png) no-repeat 0 0; }
.add_type_pay_button span { background: url(../images/elements/pay_button.png) no-repeat 0 0; }
.add_type_product_list span { background: url(../images/elements/product_list.png) no-repeat 0 0; }
.add_type_product_price span { background: url(../images/elements/product_price.png) no-repeat 0 0; }
.add_type_eshop_category_list span { background: url(../images/elements/eshop_category_list.png) no-repeat 0 0; }
.add_type_catalog span { background: url(../images/elements/catalog.png) no-repeat 0 0; }
.add_type_table span { background: url(../images/elements/table.png) no-repeat 0 0; }
.add_type_members_list span { background: url(../images/elements/members_list.png) no-repeat 0 0; }
.add_type_google_map span { background: url(../images/elements/gmap.png) no-repeat 0 0; }
.add_type_event_calendar span { background: url(../images/elements/event_calendar.png) no-repeat 0 0; }
.add_type_social_icons span { background: url(../images/elements/social_icons.png) no-repeat 0 0; }
.add_type_social_sprinters span { background: url(../images/elements/social_sprinters.png) no-repeat 0 0; }

.add_type:hover {
  background-color: #219ed1;
  color: #fff;
}
.add_type:hover span {
  background-position: 0 -54px;
}

.select_element_container  {
  float: left;
  width: 76.5%;
  border-right: 1px solid #ccc;
  min-height: 250px;
} 

#select_element_info {
  float: right;
  width: 19%;
  margin-top: 20px; 
  margin-right: 15px; 
  padding-bottom:30px; 
}
#select_element_info h2 {
  font-size: 15px;
  padding-bottom: 15px;
  color: #222;
}
#select_element_info p {
  font-size: 13px;
  color: #737373;
  line-height: 18px;
}

.ve_row_template_item {
  max-width: 600px;
  margin: 0 auto 20px;
  background: #eee;
  border: 5px solid #eee;
  text-decoration: none;
  display: block;
}
.ve_row_template_item:hover {
  border: 5px solid #219ED1;
}
.ve_row_template_item_thumb {
  width: 297px;
  float: left;
  margin-right: 20px;
}
.ve_row_template_item h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6em;
}
