.admin_feature, 
#ve_editor_panel {
  font-weight: normal;
  line-height: 1.3em;
}
.admin_feature, 
.media-frame, .media-modal,
.mce-container, .mce-widget, #wp-link-wrap, #wp-link-wrap input,
#ve_editor_panel {
  font-family: Arial !important;
}
.media-frame h1,
.media-frame h2,
#link-modal-title {
  font-family: 'Open Sans' !important;
}
.ve_hidden_features .admin_feature {
  display: none;
}
textarea#ve_content {
  font-size: 13px;
}
.wp-editor-container {
  border: 1px solid #E5E5E5; 
}

/* header;
******************************************************************************* */

#wrapper .ve_fixed_header_scrolled #header{
  top:40px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
  box-sizing: border-box; 
}
.ve_editor_panel_visible .ve_fixed_header_scrolled #header{
  padding-left: 185px;
}


/* top panel;
******************************************************************************* */

#ve_editor_top_panel, #ve_editor_window_panel {
  background-color: #131313;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  color: #b9b9b9;
  font: normal 13px/20px Arial;
  z-index: 80;
}
#ve_editor_window_panel {
  height: 50px;
}
#ve_editor_top_panel li {
  float: left;
  line-height: 40px;
  position: relative;
}
#ve_editor_top_panel ul.ve_menu > li > a {
  height: 40px;
  display: block;  
  float: left;
  padding: 0 20px;
  color: #999;
  text-decoration: none;
  border-right: 1px solid #282828;
}
#ve_editor_top_panel ul.ve_menu li.ve_menu_active a,
#ve_editor_top_panel ul.ve_menu li a.current_top_menu {
  color: #fff;
  background-color: #158ebf;
}
#ve_editor_top_panel li ul {
  display: none;
}
.ve_etp_title {
  width: 184px;
  height: 40px;
  text-align: center;    
  border-right: 1px solid #282828;  
  background: url('../images/mw-logo.png') no-repeat center center;
}

#ve_editor_top_panel li.ve_etp_user {
  float: right;
  border-right: 0;
}
#ve_editor_top_panel li.ve_etp_help {
  float: right;
}
#ve_editor_top_panel ul.ve_menu a.ve_etp_help_link {
  font-size: 18px;
  padding: 0 15px;
  background-color: #158ebf;
  color: #fff; 
}
#ve_editor_top_panel li.ve_etp_wp {
  float: right;
}
#ve_editor_top_panel ul.ve_menu a.ve_etp_wp_link {
  width: 40px;
  height: 40px;
  display: block;
  background: url('../images/wp_link.png') no-repeat 0 0;
  padding: 0;
}
#ve_editor_top_panel li.ve_etp_sss {
  float: right;
}
#ve_editor_top_panel ul.ve_menu a.ve_etp_sss_icon {
  width: 40px;
  height: 40px;
  display: block;
  background: url('../images/sss.png') no-repeat center center;
  padding: 0;
}
#ve_editor_top_panel ul.ve_menu a.ve_etp_wp_link:hover,
#ve_editor_top_panel ul.ve_menu .ve_menu_active a.ve_etp_wp_link {
  background: #158ebf url('../images/wp_link.png') no-repeat 0 -40px;
}

#ve_editor_top_panel ul ul {
  position: absolute;
  background-color: #158ebf;
  left:0;
  top: 40px;
  width: 200px;
  padding: 0 0 10px;
  font-size:13px;
}
#ve_editor_top_panel ul .ve_etp_help ul {
  width: 120px;
}
#ve_editor_top_panel ul .ve_etp_wp ul {
  width: 140px;
}
#ve_editor_top_panel ul ul ul {
  position: absolute;
  left:200px;
  top: 0;
  width: 180px;
}
#ve_editor_top_panel ul .ve_etp_user ul,
#ve_editor_top_panel ul .ve_etp_help ul,
#ve_editor_top_panel ul .ve_etp_wp ul {
  right: 0;
  left: auto;
}
#ve_editor_top_panel ul ul a {
  color: #a2d4e9 !important;
  padding: 8px 15px 0;
  float: none;
  display: block;
  text-decoration: none;
  position: relative;
}
#ve_editor_top_panel ul ul a:hover {
  color: #fff !important;
}
#ve_editor_top_panel ul ul li {
  float: none;
  line-height: 20px;
}
.ve_menu_has_submenu {
  background-image: url('../images/admin_menu_arr.png');
  background-position: 180px 17px;
  background-repeat: no-repeat;
}

#ve_editor_top_panel li.new_version_info {
  float: right;
  border-right: 0;
}
#ve_editor_top_panel ul.ve_menu li.new_version_info a {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  display: block;  
  float: left;
  padding: 0 25px 0 10px;
  color: #787878;
  text-decoration: none;
  background: #158ebf url('../images/nw_arr.png') no-repeat right center;
  color: #131313;
  margin-right: 20px;
  margin-top: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
#ve_editor_top_panel ul.ve_menu li.new_version_info a:hover {
  background-color: #23a1d4;
}
#ve_editor_window_panel ul, #ve_editor_window_panel ul li {
  float: left;
}
#ve_editor_window_panel ul {
  margin-left: 20px;
}
#ve_editor_window_panel ul li a {
  float: left;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-right: 40px;
  color: #a4a4a4;
  text-decoration: none;
}
#ve_editor_window_panel ul li a:hover {
  color: #dcdcdc;
}
#ve_editor_window_panel ul li a.ve_window_setting_ico {
  padding-left: 25px;
  background: url('../images/win_setting.png') no-repeat left center;
}
#ve_editor_window_panel ul li a.ve_change_template_but {
  padding-left: 23px;
  background: url('../images/win_theme.png') no-repeat left center;
}
#ve_editor_window_panel form {
  float: right;
}

.mioweb_update_info {
  padding: 50px;
  text-align:center;
  background: #2f2f2f;
  color: #ddd;
  font-size: 15px;
  line-height: 22px;
}
.mioweb_update_info h2 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
}
.mioweb_update_info .cms_button {
  font-size: 22px;
    height: 55px;
    line-height: 55px;
    margin-right: 0;
    padding: 0 25px;
    margin-top: 30px;
}
.mioweb_update_news {
  padding: 50px;
}
.mioweb_update_news .maintitle {
  text-align: center;
  font-size: 24px;
  padding-bottom: 40px;
  font-weight: bold;
}
.mioweb_update_version h2 {
  font-size: 20px;
  padding-bottom: 1px;
  font-weight: bold;
}
.mioweb_update_version h3 {
  font-size: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.mioweb_update_news small {
  font-size: 13px;
  padding-bottom: 20px;
  display: block;
  color: #888;
}
.mioweb_update_version {
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
}
.mioweb_update_version ul {
  padding-bottom: 15px;
  padding-left: 20px;
}
.mioweb_update_version li {
  list-style: disc outside;
  padding-bottom: 4px;
}

/* Right panel
******************************************************************************* */

#ve_editor_panel {
  background: #131313;
  margin: 0;
  position: fixed;
  top: 0;
  width: 185px;
  height: 100%;
  color: #ddd;
  font-family: Arial;
  font-size: 13px;
  line-height: 21px;
  z-index: 10;
}
.ve_editor_panel {
  left: 0;
}
.ve_editor_panel_hidden {
  left: -185px;
}
.show-hide-panel {
  display: block;
  position: absolute;
  top: 0;
  left: 185px;
  width: 10px;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.shp-hide-panel {
  background: rgba(255,255,255,0.2) url(../images/hide-show.png) no-repeat 0 center;
}
.shp-show-panel {
  background: rgba(255,255,255,0.2) url(../images/hide-show.png) no-repeat -10px center;
}
.show-hide-panel:hover, #ve_editor_panel:hover .show-hide-panel {
  background-color: rgba(255,255,255,0.5);
}
#ve_editor_panel a{
  color: #aaa;
}
.ve_editor_menu {
  margin-top: 30px;
}
.ve_editor_second_menu {
  margin-top: 15px;
}
#ve_editor_panel ul.ve_editor_menu li{
  position: relative;
}
#ve_editor_panel ul.ve_editor_menu a {
  padding: 5px 20px 5px 35px;
  display: block;
  text-decoration: none;
  position: relative;
}
#ve_editor_panel ul a:hover, #ve_editor_panel ul .ve_menu_active > a{
  color: #ddd; 
}
#ve_editor_panel ul ul{
  display: none;
  position: absolute;
  right: -185px;
  width: 185px;
  background: #000;
  top: -4px;
  z-index: 999;
  padding: 4px 0;
}
#ve_editor_panel ul.ve_editor_menu ul a{
  padding-left: 20px;
  line-height: 17px;
}
#ve_editor_panel #ve_save_post_form {
  padding: 30px 15px 0;
}
#ev_save_page {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  height: 40px;
  margin-top: 8px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#ve_editor_window_panel #ev_save_page {
  width: 100px;
  float: right;
  margin-top: 7px;
  height: 35px;
  margin-right: 10px;
}
#ve_editor_panel .sh-editor-features,
#ve_editor_window_panel .sh-editor-features {
  display: block;
  text-align: center;
  margin: 15px;
  background: #1c1c1c;
  border: 1px solid #262626;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  padding: 2px;
  color: #666;
}
#ve_editor_window_panel .sh-editor-features {
  width: 125px;
  float: left;
  margin-top: 12px;
  margin-right: 50px;
}
#ve_editor_panel .sh-editor-features:hover {
  border: 1px solid #333;
  color: #777;
}

#ve_editor_panel .ve_editor_subut {
  width: 100%;
  background: #474747;
  color: #a9a9a9;
  font-size: 14px;
  border: 0;
  height: 35px;
  line-height: 35px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none; 
}

#ve_editor_panel ul.ve_editor_menu a:hover, #ve_editor_panel ul.ve_editor_menu .ve_menu_active > a {
  background-position: 15px -16px;
}
.ve_page_setting_ico { background: url('../images/setting-ico.png') no-repeat 15px 8px; }
.ve_page_appearance_ico { background: url('../images/appearance-ico.png') no-repeat 15px 8px; }
.ve_page_theme_ico { background: url('../images/theme-ico.png') no-repeat 15px 8px; }
.ve_page_action_ico { background: url('../images/action-ico.png') no-repeat 15px 8px; }

.ve_left_menu_has_submenu {
  background-image: url('../images/admin_menu_arr.png');
  background-position: 170px 14px;
  background-repeat: no-repeat;
}
.ve_left_menu_sep {
  height: 15px;
}

.cms_close_lightbox_window {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  margin-top: 8px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 34px;
  float: right;
  margin-top: 7px;
  height: 35px;
  margin-right: 10px;
  background: #cb0000 url('../images/close-w.png') no-repeat 11px 11px;
}
.cms_close_lightbox_window:hover {
  background: #bd0000 url('../images/close-w.png') no-repeat 11px 11px;
}

/* page selector
******************************************************************************* */

.ve_open_page_selector,
.ve_close_page_selector {
  background: #000;
  border-top: 1px solid #303030;
  box-sizing: border-box;
  color: #848484;
  font-size: 12px;
  padding: 0px 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
}
.ve_open_page_selector span {
  position: absolute;
  
}
.ve_open_page_selector span {
  position: absolute;
  width: 5px;
  height: 10px;
  background: url('../images/open_page_selector.gif') no-repeat 0 0;
  top: 14px;
  right: 13px;
}
.ve_open_page_selector:hover span {
  background: url('../images/open_page_selector.gif') no-repeat -5px 0;
}
.ve_close_page_selector span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../images/close_page_selector.gif') no-repeat 0 0;
  top: 14px;
  right: 13px;
}
.ve_close_page_selector:hover span {
  background: url('../images/close_page_selector.gif') no-repeat -10px 0;
}

.ve_open_page_selector{
  border-bottom: 1px solid #303030;
}
.ve_page_selector_tabs {
  background: #000;
  border-bottom: 1px solid #303030;
  color: #848484;
  font-size: 12px;
  padding: 8px 10px 0;
  height: 37px;
}
.ve_page_selector_tabs li{
  float: left;
  height: 37px;
}
.ve_page_selector_tabs a{
  float: left;
  height: 30px;
  padding: 8px 11px 0;
  color: #636363;
  text-decoration: none; 
}
.ve_page_selector_tabs a:hover{
  color: #848484; 
}
.ve_page_selector_tabs a.active{
  background: #131313;
  border: 1px solid #303030;
  border-bottom: 0; 
  padding: 7px 10px 0;
  color: #848484;
}
#ve_page_selector {
  background: #131313;
  margin: 0;
  position: fixed;
  top: 40px;
  left: -550px;
  width: 550px;
  height: 100%;
  color: #ddd;
  font-family: Arial;
  font-size: 13px;
  line-height: 21px;
  z-index: 11;
}
#ve_page_list {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;    
}
.ve_page_list_home {
  text-decoration: none;
  color: #9b9b9b;
  display: block;
  margin: 20px 10px 0px;
  padding: 4px 12px;
}
#ve_page_list ul {
  margin: 10px;
}
#ve_page_list ul ul {
  padding: 0 0 0 15px;
  margin: 0;
}
#ve_page_list ul ul li {
  border-left: 1px dotted #3e3e3e;
}
#ve_page_list ul a.ve_page_item {
  text-decoration: none;
  color: #9b9b9b;
  width: 80%;
  display: inline-block;
}
#ve_page_list ul a.ve_page_item_current {
  color: #f1f1f1;
}
#ve_page_list ul li div.ve_page_item_container {
  padding: 4px 12px;
}
#ve_page_list ul ul li div.ve_page_item_container {
  background: url('../images/ps_horizontal.png') no-repeat 1px 13px;
  padding: 4px 12px 4px 15px;
}

#ve_page_list ul li div.ve_page_item_container:hover,
.ve_page_list_home:hover {
  background-color: #000;
}
#ve_page_list ul a:hover,
.ve_page_list_home:hover {
  color: #c8c8c8;
}
.ve_ps_delete {
  float: right;
  background: url('../images/delete_page.gif') no-repeat 0 0;
  height: 14px;
  width: 12px;
  display:none;
  margin-top: 2px;
  margin-left: 8px;
}
.ve_ps_delete:hover {
  background: url('../images/delete_page.gif') no-repeat -12px 0;
}
.ve_ps_copy {
  float: right;
  background: url('../images/duplicate_page.gif') no-repeat 0 0;
  height: 14px;
  width: 11px;
  display:none;
  margin-top: 2px;
}
.ve_ps_copy:hover {
  background: url('../images/duplicate_page.gif') no-repeat -11px 0;
}
#ve_page_list ul li div:hover .ve_ps_delete,
#ve_page_list ul li div:hover .ve_ps_copy {
  display:block;
}
.ve_page_list_name {
  color: #158ebf;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  padding: 6px 10px;
  display: block;
  text-decoration: none;
  margin: 20px 10px 10px;
  font-size: 14px;
}
.ve_pln_close {
  background: url('../images/minus.gif') no-repeat center right;
}
.ve_pln_open {
  background: url('../images/plus.gif') no-repeat center right;
}
#ve_pagelist_empty_search {
  padding: 20px;
  color: #616161;
  font-style: italic;
  text-align: center;
  display: none;
}
.ve_page_selector_tabs li.ve_page_search_container {
  float: right;
}
#ve_page_search {
  border: 0;
  background: #202020 url('../images/page_search.gif') no-repeat 5px 5px;
  margin-right: 5px;
  font-size: 12px;
  color: #636363;
  padding: 5px 5px 5px 29px;
  width: 100px;
  line-height:1.4em;
}

#ve_page_list .ve_page_item_title {
  display: inline-block;
  padding-right: 10px;
}

#ve_page_list .ve_page_list_item_icon {
  display: inline-block;
  position: relative;
  padding-left: 4px;
  width: 14px;
  height: 14px;
}
#ve_page_list .ve_page_list_item_icon svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 0;
}
#ve_page_list .ve_page_list_item_icon svg path{
  fill: #333;
}
#ve_page_list .ve_page_list_item_icon span{
  display: none;
}
#ve_page_list .ve_page_list_item_icon:hover span{
  display: inline-block;
  padding: 5px;
  bottom: 15px;
  color: #888;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  background: #333;
  position: absolute;
  left: 0;
}

/* left setting menu
******************************************************************************* */
.ve_div_table {
  width: 100%;
  display: table;
}
.ve_left_setting_menu {
  display: table-cell;
  width: 180px;
  background: #262c2f;
  vertical-align: top;
  color: #818384;
  padding: 20px 0;
}
.ve_right_content {
  display: table-cell;
  vertical-align: top;
}
.ve_left_setting_menu li {
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Open Sans",Arial,sans-serif;
}
.ve_left_setting_menu li a {
  color: #818384;
  padding: 1px 20px;
  display: block;
  text-decoration: none;
}
.ve_left_setting_menu li.empty {
  color: #505557;
  padding: 1px 20px;
}
.ve_left_setting_menu li a:hover {
  color: #fff;
}
.ve_left_setting_menu li a.active {
  color: #fff;
  position: relative;
}
.ve_left_setting_menu li a.active:after {
  content: '';
  height: 15px;
  width: 8px;
  background: url('../images/lm-active.png') no-repeat 0 0; 
  margin-top: -8px;
  top:50%;
  right: 0;
  display: block;
  position: absolute;
}


.ve_select_row_container {
  padding-top: 20px;
}
.ve_select_row_container h3 {
  padding: 5px 15px 20px;
}


/* Row edit
******************************************************************************* */

.row_edit_container {
  height: 48px;
  text-align: center;
  max-width: 970px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  background: url(../images/row-edit-container-full-bg.png) no-repeat center center;
}
.row_edit_container_editonly {
  background: url(../images/row-edit-container-eo-bg.png) no-repeat right center;
}
.row_add_container {
  margin: 0 auto;
  display: inline-block;
}
.row_add,
.ve_add_content_button {
  float: left;
  background: #000 url(../images/add-row.png) no-repeat 25px 15px;
  line-height: 48px;
  padding: 0 30px 0 55px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 18px;
  text-decoration: none;
  color: #fff !important;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.20;
}
.row_add:hover,
.ve_add_content_button:hover {
  background: #000 url(../images/add-row.png) no-repeat 25px -25px;
}
.row_paste {
  width: 45px;
  float: left;
  margin-left: 5px;
  background: #000 url(../images/row-edit.png) no-repeat -142px 0;
  zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.20;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
.row_paste:hover {
  background: #000 url(../images/row-edit.png) no-repeat -142px -48px;
}

.right_row_editbar {
  float: left;
}
.save_row_template {
  width: 45px;
  float: left;
  margin-right: 5px;
  background: #000 url(../images/row-edit.png) no-repeat -142px 0;
  zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.20;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
.save_row_template:hover {
  background: #000 url(../images/row-edit.png) no-repeat -142px -48px;
}


.row_edit_bar {
  display: none;
  background: #000;
  float: right;
  margin: 0 auto;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 0;
}
.row_edit_bar a {
  display: block;
  float: left;
  height: 48px;
}
.row_edit_bar .row_move {
  width: 43px;
  background: url(../images/row-edit.png) no-repeat 0 0;
}
.row_edit_bar .row_move:hover {
  background: url(../images/row-edit.png) no-repeat 0 -48px;
}
.row_edit_bar .row_edit {
  width: 35px;
  background: url(../images/row-edit.png) no-repeat -43px 0;
}
.row_edit_bar .row_edit:hover {
  background: url(../images/row-edit.png) no-repeat -43px -48px;
}
.row_edit_bar .row_copy {
  width: 35px;
  background: url(../images/row-edit.png) no-repeat -111px 0;
}
.row_edit_bar .row_copy:hover {
  background: url(../images/row-edit.png) no-repeat -111px -48px;
}
.row_edit_bar .row_delete {
  width: 43px;
  background: url(../images/row-edit.png) no-repeat -78px 0;
}
.row_edit_bar .row_delete:hover {
  background: url(../images/row-edit.png) no-repeat -78px -48px;
}
.row_edit_bar .row_copy_memory {
  width: 35px;
  background: url(../images/row-edit.png) no-repeat -178px 0;
}
.row_edit_bar .row_copy_memory:hover {
  background: url(../images/row-edit.png) no-repeat -178px -48px;
}


.row_edit_container_editonly a.row_add,
.row_edit_container_editonly a.row_paste,
.row_edit_container_editonly .row_edit_bar a.row_move,
.row_edit_container_editonly .row_edit_bar a.row_copy,
.row_edit_container_editonly .row_edit_bar a.row_copy_memory,
.row_edit_container_editonly .row_edit_bar a.row_delete {                                          
  display: none;
} 
.row_edit_container_noedit {                                          
  display: none;
}

.row_edit_container_editonly .row_edit_bar a.row_edit {                                          
  width: 45px;
  background: url(../images/row-edit.png) no-repeat -38px 0;
} 

.row:hover .right_row_editbar a, 
.row:hover .row_add, 
.row:hover .row_paste, 
.add_row_last:hover .row_add, 
.add_row_last:hover .row_paste,
.row_edit_container:hover .ve_add_content_button {
  border: 1px solid rgba(255, 255, 255, 0.15);
  filter: none;
	opacity: 1;
}
.row:hover .row_edit_bar {
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
}
.row_content_textarea {
  display: none;
}
.row_edited,
.weditor_edited {
  position: relative;
}
.row_edited .cms_big_loading,
.weditor_edited .cms_big_loading {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #fff;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  -moz-box-shadow: 0 0 30px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 30px 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.5);
}



/* Element, Menu edit
******************************************************************************* */

.element_container,
#site_header_nav,
#site_footer_nav {
  position: relative;
  min-height: 20px;
}
.header_in_s1 .add_menu_container {
  float: right;
}
.header_in_s2 .add_menu_container,
.header_s3 .add_menu_container {
  text-align: center;
  padding-bottom: 10px;
}
.member_section_page .header_in_s1 .add_menu_container,
.eshop_cart_header .header_in_s1 .add_menu_container {
  margin-right: 50px;
} 
.member_section_page.eshop_cart_header .header_in_s1 .add_menu_container {
  margin-right: 110px;
} 
.ve_add_menu {
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 13px;
  text-decoration: none;
  color: #fff !important;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.20;
  background: #000;
  display: inline-block;
}
.ve_add_menu:hover {
  border: 1px solid #000;;
  color: #fff !important;
	filter: alpha(opacity=100);
	opacity: 1;
}
.graphic_element_container {
  min-height: 0;
}
.col .sortable-disabled {
height:0px; min-height:0; margin:0;
}
.content_element_editbar {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  top: -6px;
  left: -6px;
  border: dashed 2px rgba(0, 0, 0, 0.35);
  display: none;
}
.element_container:hover > .content_element_editbar,
#site_header_nav:hover .content_element_editbar,
#site_footer_nav:hover .content_element_editbar {
  display: block;
}


.ce_editbar {
  display: block;
  background: #000;
  float: right;
  margin: 0 auto;
  height: 34px;
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  -khtml-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
  position: absolute;
  top: -2px;
  right: -2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 79;
}
.twocols_element_container > .content_element_editbar .ce_editbar{
  top: -36px;
  -moz-border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px 0 0 0;
  -khtml-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}
.ce_editbar a {
  display: block;
  float: left;
  height: 34px;
}
.ce_editbar .ece_move {
  width: 30px;
  background: url(../images/element-edit.png) no-repeat 0 0;
}
.ce_editbar .ece_move:hover {
  background: url(../images/element-edit.png) no-repeat 0 -34px;
}
.ce_editbar .ece_edit {
  width: 25px;
  background: url(../images/element-edit.png) no-repeat -30px 0;
}
.ce_editbar .ece_edit:hover {
  background: url(../images/element-edit.png) no-repeat -30px -34px;
}
.ce_editbar .ece_config {
  width: 25px;
  background: url(../images/element-edit.png) no-repeat -80px 0;
}
.ce_editbar .ece_config:hover {
  background: url(../images/element-edit.png) no-repeat -80px -34px;
}
.ce_editbar .ece_copy {
  width: 27px;
  background: url(../images/element-edit.png) no-repeat -103px 0;
}
.ce_editbar .ece_copy:hover {
  background: url(../images/element-edit.png) no-repeat -103px -34px;
}
.ce_editbar .ece_delete {
  width: 30px;
  background: url(../images/element-edit.png) no-repeat -55px 0;
}
.ce_editbar .ece_delete:hover {
  background: url(../images/element-edit.png) no-repeat -55px -34px;
}
.element_content_textarea {
  display: none;
}

#site_header_nav .content_element_editbar,
#site_footer_nav .content_element_editbar {
  position: absolute;
  width: 100%;  
  height: 100%;
  padding: 8px 8px 8px 38px;
  top: -8px;
  left: -38px;
  border: dashed 2px rgba(0, 0, 0, 0.35);
  display: none;
  min-height: 16px;
}
.header_s3 #site_header_nav .content_element_editbar {
  padding: 4px;
  top: -4px;
  left: -4px;
}
.footer_type1 .add_menu_container { float: right; }
.header_in_s2 .menu_editbar_container {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}
#site_header_nav .menu,
#site_footer_nav .menu {
  position: relative;
}
.ve_edit_menu {
  display: block;
  margin: 0 auto;
  height: 30px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 79;
  width: 30px;
  background: #000 url(../images/element-edit.png) no-repeat -28px -2px;
}
.ve_edit_menu:hover {
  background: #000 url(../images/element-edit.png) no-repeat -28px -36px;
}
.menu_edited .cms_loading {
  position: absolute;
  top: 0;
  left: -20px;
}


/* Add element
******************************************************************************* */

.add_element {
  display: block;
  padding: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background: #fff;
  font-size: 14px;
  text-decoration: none;
  color: #000 !important;
  zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.20;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
}
.add_element span {
  background: url(../images/add-element.png) no-repeat 0 0;
  padding-right: 20px;
}
.add_element:hover {
  color: #219ed1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  filter: none;
	opacity: 1;
}
.add_element:hover span {
  background: url(../images/add-element.png) no-repeat 0 -45px;
  padding-right: 20px;
}

.element_container_edited .cms_loading {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-top:-20px;
  margin-left: -20px;
  z-index:1;
}
#new_element_container .cms_loading{
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 0 auto;
}

/* pricelist features
******************************************************************************* */

.ve_items_feature_container {
  border: 1px solid #eee;
  padding: 15px;
}
.ve_item_feature_container {
  margin-bottom: 8px;
  position: relative
}
.cms_setting_block_content .ve_item_feature_container .cms_text_input {
  padding-right: 30px;
}
.ve_item_feature_container .ve_delete_feature,
.ve_item_feature_container .ve_delete_subitem {
  position: absolute;                       
  top: 15px;
  right: 10px;
  width: 13px;
  height: 13px;
  background: url(../images/del.png) no-repeat;
}

/* setting pack container (menu)
******************************************************************************* */

.ve_pack_setting_container {
  padding: 0;
  border: 1px solid #ddd;
  -moz-box-shadow: inset 0 0 20px #eee;
   -webkit-box-shadow: inset 0 0 20px #eee;
   box-shadow: inset 0 0 20px #eee;
   position: relative;
   margin-bottom: 8px;
}
.ve_pack_setting_container_head {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.ve_pack_setting_container_body {
  padding: 10px;
  margin: 0 10px;
  border-top: 1px solid #ddd;
  display: none;
}
.ve_pack_setting_container_body_open {
  display: block;
}
.ve_pack_setting_set {
  margin: 10px 0;
}


#cms_lightbox_contentin .ve_pack_setting_set .label {
  margin: 0 0 5px 0;
  font-size: 14px;
  line-height: 24px;
}
.ve_half_set {
  float: left;
  width: 49%;
}
.ve_half_set_r {
  float: right;
}

.ve_pack_setting_edit {
  display: block;
  width: 15px;
  height: 14px;
  background: url('../images/edit_item.png') no-repeat 0 0;
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  right: 45px;
  top: 17px;
}
.ve_pack_setting_delete {
  display: block;
  width: 13px;
  height: 13px;
  background: url('../images/del.png') no-repeat 0 0;
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 17px;
}

/* menu editor */

.ve_menu_item_info {
  color: #888;
  font-size: 12px;
  padding-top: 4px;
}
.ve_menu_select_container {
  padding: 10px;
  background: #262c2f;
  margin: 0;
  color: #888;
}
#ve_menu_selected_menu_container {
  padding: 30px;
}
.cms_lightbox_contentin .ve_menu_select_container select {
  background: #fff;
  width: 200px;
  margin-right: 5px;
}
#add_new_menu_container {
  display: none;
  padding: 30px;
}
.add_new_menu_container .cms_text_input {
  width: 350px;
}
#add_new_single_menu_container {
  padding: 30px 30px 0;
}
.add_new_menu_container .cms_text_input {
  width: 350px;
}
#add_new_single_menu_container {
  padding: 30px 30px 20px;
}
#add_new_menu_container #add_new_menu_name {
  float: left;
  width: 300px;
  margin-right: 5px;
}


/* page setting
******************************************************************************* */


.cms_page_setting_container {
  display: none;
}
.cms_page_setting_container_1 {
  display: block;
}


/* Lightbox
******************************************************************************* */

/* Sortable */
.sortable-col {
  min-height: 20px;
}
.sortable-col-hilelight {
  border: 2px dashed rgba(0,0,0,0.20);
}
.sortable-row-hilelight {
  margin: 30px;
  border: 2px dashed rgba(0,0,0,0.20);
}
.sortable-col-nob .content_element_editbar  {
  border: 0;
}

/*
Nested sortable
@extends Sortable
*/
.ve_nestedsortable__item {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ve_nestedsortable__item .ve_nestedsortable__item {
  margin-left: 20px;
  margin-right: 20px;
}

.ve_nestedsortable__item__wrap {
  border: 1px solid #ddd;
  -moz-box-shadow: inset 0 0 20px #eee;
  -webkit-box-shadow: inset 0 0 20px #eee;
  box-shadow: inset 0 0 20px #eee;
}

.ve_nestedsortable__item ol {
  margin-top: 8px;
}

.ve_nestedsortable__item .sortable-col-hilelight {
  margin: 20px;
}

.ve_menu_note {
  margin-bottom: 1em;
  color: grey;
}

/* Elements */

.video_element_novideo .video_content_fullwidth {
  background: #111 url('../images/video-play.png') no-repeat center center;
  border: 1px solid #000;
  color: #666;
}
.video_element_novideo .video_content_fullwidth span {
  display: block;
  padding: 10px 20px;
  font-size: 13px;
  text-align: center;
}

/* post, item edit
******************************************************************************* */

.article, 
.mw_element_item {
  position: relative;
}
.post_edit_bar {
  display: none;
  background: #000;
  float: right;
  margin: 0 auto;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.article:hover .post_edit_bar,
.mw_element_item:hover .post_edit_bar,
.edit_weditor_content_container:hover .post_edit_bar {
  display: block;
} 
.post_edit_bar a {
  display: block;
  float: left;
  height: 48px;
}
.post_edit_bar .post_edit {
  width: 48px;
  background: url(../images/row-edit.png) no-repeat -37px 0;
}
.post_edit_bar .post_edit:hover {
  background: url(../images/row-edit.png) no-repeat -37px -48px;
}
.edit_weditor_content_container {
  position: relative;
}
.edit_weditor_content_container:hover {
  position: relative;
}

/* WP Common styles
******************************************************************************* */
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.screen-reader-shortcut {
  position: absolute;
  top: -1000em;
}

.screen-reader-shortcut:focus {
  left: 6px;
  top: -25px;
  height: auto;
  width: auto;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 23px 14px;
  background: #f1f1f1;
  color: #21759b;
  z-index: 100000;
  line-height: normal;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
  box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
  text-decoration: none;
  outline: none;
}
