.mioweb_campaign_menu a {
  display: block;
  text-decoration: none;
  vertical-align: middle;
}
.mioweb_campaign_menu span {
  line-height: 1.2em;
}
.mioweb_campaign_menu img {
  display: block;
  max-width: 100%; 
  width: auto; 
}
.mioweb_campaign_menu div.mioweb_campaign_menu_item {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
/* campaign menu 1 */
.mioweb_campaign_menu_1, .mioweb_campaign_menu_2, .mioweb_campaign_menu_3 {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.mioweb_campaign_menu_1 li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
  padding: 0 10px;
}
.mioweb_campaign_menu_1 li .mioweb_campaign_menu_item {
  padding: 0.7em 0;
}
.mioweb_campaign_menu_1 img {
  display: none;
}

/* campaign menu 2 & 3 */
.mioweb_campaign_menu_2 li, .mioweb_campaign_menu_3 li {
  padding: 7px 0 7px 125px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
  min-height: 75px;
}
.mioweb_campaign_menu_2 li span, .mioweb_campaign_menu_3 li span {
  min-height: 75px;
  height: 75px;
  display:table-cell;
  vertical-align:middle;
}
.mioweb_campaign_menu_2 .mioweb_campaign_menu_img, .mioweb_campaign_menu_3 .mioweb_campaign_menu_img {
  position: absolute;
  width: 100px;
  height: 75px;
  top: 7px;
  left: 5px;
  overflow: hidden;
}
.mioweb_campaign_menu_2 .mioweb_campaign_menu_img_empty {
  background: url('../images/thumb_100x75.gif') no-repeat 0 0;
}
.mioweb_campaign_menu_2 img {
  width: 100px;  
}
.mioweb_campaign_menu_3 li {
  padding: 5px 0 5px 85px;
  min-height: 48px;
}
.mioweb_campaign_menu_3 li span {
  min-height: 48px;
  height: 48px;
}
.mioweb_campaign_menu_3 .mioweb_campaign_menu_img {
  width: 65px;
  height: 48px;
  top: 5px;
  left: 2px;
}
.mioweb_campaign_menu_3 .mioweb_campaign_menu_img_empty {
  background: url('../images/thumb_65x48.gif') no-repeat 0 0;
}
.mioweb_campaign_menu_3 img {
  width: 65px;  
}
/* campaign menu 4 */

.mioweb_campaign_menu_4 {
   text-align: center;
}
.mioweb_campaign_menu_4 li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.mioweb_campaign_menu_4 li .mioweb_campaign_menu_item{
  padding: 0 1em;
  display: inline-block;
}
.mioweb_campaign_menu_4 li:before {
    content: "|";
}
.mioweb_campaign_menu_4 li:first-child:before {
    content: "";
}
.mioweb_campaign_menu_4 .mioweb_campaign_menu_img {
  display: none;
}
/* campaign menu 1 */
.mioweb_campaign_menu_5 li a {
  margin-bottom: 15px;
}
.mioweb_campaign_menu_5 .mioweb_campaign_menu_img {
  margin-bottom: 4px;
}
.mioweb_campaign_menu_5 .mioweb_campaign_menu_img_empty {
  background: #f6f6f6 url('../images/thumb_100x75.gif') no-repeat center center;
  min-height: 120px;
}
.mioweb_campaign_menu_5 li a.mioweb_campaign_menu_item_last {
  margin-bottom: 0;
}

/* campaign menu 1 */
.mioweb_campaign_menu_5 li a {
  margin-bottom: 15px;
}
.mioweb_campaign_menu_5 .mioweb_campaign_menu_img {
  margin-bottom: 4px;
}
.mioweb_campaign_menu_5 .mioweb_campaign_menu_img_empty {
  background: #f6f6f6 url('../images/thumb_100x75.gif') no-repeat center center;
  min-height: 120px;
}
.mioweb_campaign_menu_5 li a.mioweb_campaign_menu_item_last {
  margin-bottom: 0;
}


@media screen and (max-width: 640px) {

.mioweb_campaign_menu_4 li {
  display: block;
}
.mioweb_campaign_menu_4 li .mioweb_campaign_menu_item {
  padding: 0.3em 0;
  display: block;
}
.mioweb_campaign_menu_4 li {
  border-bottom: 1px solid #000;
}
.mioweb_campaign_menu_4 li:last-child {
  border-bottom: 0;
}
.mioweb_campaign_menu_4 li:before {
    content: "";
}

}