.mioweb_campaign {
  display: none;
}
.mioweb_input_campaing_name {
  width: 250px !important;
}
#mioweb_campaigns_container h4{
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.mioweb_add_campaign_page {
  margin-top: 2px;
}
.campaign_set_box {
  border: 1px solid #ddd;
  margin-bottom: 8px;
  position: relative;
}
.mioweb_delete_campaign_page {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url('../images/delete.gif') no-repeat 0 0;
}
.mioweb_delete_campaign {
 color: #b70a0a;
}
.campaign_set_box .cms_select_page {
  width: 400px;
}
.campaign_set_box_label {
  padding: 5px 15px 10px;
  border-bottom: 1px solid #eee;
  display: block;
  margin: 5px 0;
}
.campaign_set_box_content {
  padding: 10px 15px 15px;
}

.campaign_page_set {
  display: none;
  background: #2E3238;
  margin-top: 15px;
}
.mioweb_setting_campaign_page {
  padding-left: 10px;
  position: relative;
  color: #219ED1;
}
.mioweb_setting_campaign_page_active span {
  position: absolute;
  left: 50%;
  background: url('../images/arr1.gif') no-repeat 0 0;
  display: block;
  width: 21px;
  height: 10px;
  bottom: -30px;
  margin-left: -10px;
}
.cms_setting_block_content .campaign_page_set td, .cms_setting_block_content .campaign_page_set th {
  border-bottom: 1px solid #3e4247;
  
}
.campaign_page_set label {
  color: #dfdfdf !important;
}
.campaing_set_label {
  display: block;
  margin: 10px 0 5px;
  color: #696E74;
}
.mioweb_campaign .cms_info_box_gray {
  margin-bottom: 10px;
}
.campaign_error_box {
  margin-top: 15px;
}
.campaing_set .cms_info_box_gray {
  margin: 0;
}