#content {
  max-width: 750px;
}
#wrapper #content {
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
}

.row_content {
  margin-bottom: 20px;
  
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
}
.row_content .row_fix_width {
    width: 100%;
    padding-left: 60px;
  padding-right: 60px;
}
.fix_width {
    width: 100%;
}
